[DEFAULT]
repository: /repository/path/or/url
temp_dir: /local/directory/where/to/clone/before/deploy
exclude: .git, .gitignore, .gitmodules

[production]
server: example.com, 127.0.0.1
user: username
ssh_port: 1234
ssh_identity: $HOME/.ssh/identity/or/full/path
branch: master
project_dir: /server/project/directory/root
before_deploy: 
    composer install --no-dev --no-interaction --optimize-autoloader
    nosetests
    phpunit
    etc.
